body {
  font-family: monospace;
  background: #111;
  color: #eee;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  background: #000;
  color: #0f0;
  font-size: 16px;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

pre {
  background: #000;
  padding: 10px;
  min-height: 50px;
  margin-top: 10px;
  white-space: pre-wrap;
}